@model List<EstadoCuenta.Web.Models.PagoViewModel>

@{
    ViewData["Title"] = "Pagos";
}

<div class="p-6 bg-gray-100 ">
    <div class="bg-white shadow-lg p-6 rounded-lg">
        <h1 class="text-2xl font-bold text-blue-600">Pagos</h1>
        <!-- Mostrar Sumarry Error -->
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="bg-red-500 text-white p-3 rounded-md mb-4">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }
        <!-- Formulario para agregar pago -->
        <form asp-action="Agregar" method="post" class="mt-4 space-y-4">
            <input type="hidden" asp-for="@(new EstadoCuenta.Web.Models.CompraViewModel().TarjetaCreditoId)" value="1" />
            <div>
                <label for="Monto" class="block text-gray-700 font-bold">Monto</label>
                <input type="number" asp-for="@(new PagoViewModel().Monto)" class="w-full p-2 border rounded-lg">
                <span asp-validation-for="@(new PagoViewModel().Monto)" class="text-red-500"></span>
            </div>
            <div>
                <label for="Fecha" class="block text-gray-700 font-bold">Fecha</label>
                <input type="date" asp-for="@(new PagoViewModel().Fecha)" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="w-full p-2 border rounded-lg">
                <span asp-validation-for="@(new PagoViewModel().Fecha)" class="text-red-500"></span>
            </div>
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg">Agregar Pago</button>
        </form>
    </div>

    <!-- Tabla de pagos -->
    <div class="bg-white shadow-lg p-6 rounded-lg mt-6">
        <h2 class="text-xl font-bold text-blue-600">Historial de Pagos del Mes</h2>

        <!-- Contenedor con scroll y encabezado fijo -->
        <div class="overflow-x-auto max-h-96 relative">
            <table class="w-full bg-white shadow-md rounded-lg">
                <thead class="bg-blue-600 text-white sticky top-0">
                    <tr>
                        <th class="p-3 text-left">Fecha</th>
                        <th class="p-3 text-left">Monto</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    @foreach (var compra in Model)
                    {
                        <tr class="border-t">
                            <td class="p-3">@compra.Fecha.ToString("yyyy-MM-dd")</td>
                            <td class="p-3 text-red-600">$@compra.Monto</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
